openapi: 3.2.0
info:
  title: Azure Log Analytics Management Saved Searches API
  description: REST API for managing Log Analytics workspaces, data sources, saved searches, linked services, storage insights, clusters, and tables through Azure Resource Manager.
  version: '2025-02-01'
  contact:
    name: Microsoft Azure Support
    url: https://azure.microsoft.com/en-us/support/
  license:
    name: Microsoft Azure Terms
    url: https://azure.microsoft.com/en-us/support/legal/
  x-generated-from: documentation
  x-last-validated: '2026-04-18'
servers:
- url: https://management.azure.com
  description: Azure Resource Manager endpoint
security:
- oauth2:
  - user_impersonation
tags:
- name: Saved Searches
  description: Manage saved KQL queries
paths:
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/savedSearches
  : get:
      operationId: listSavedSearches
      summary: Azure Log Analytics List Saved Searches
      description: Gets the saved searches for a given Log Analytics workspace.
      tags:
      - Saved Searches
      parameters:
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK - Returns list of saved searches.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedSearchesListResult'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/savedSearches/{savedSearchId}
  : get:
      operationId: getSavedSearch
      summary: Azure Log Analytics Get Saved Search
      description: Gets the specified saved search for a given workspace.
      tags:
      - Saved Searches
      parameters:
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - name: savedSearchId
        in: path
        required: true
        description: The ID of the saved search.
        schema:
          type: string
      responses:
        '200':
          description: OK - Returns the saved search.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedSearch'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: createOrUpdateSavedSearch
      summary: Azure Log Analytics Create or Update Saved Search
      description: Creates or updates a saved search for a given workspace.
      tags:
      - Saved Searches
      parameters:
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - name: savedSearchId
        in: path
        required: true
        description: The ID of the saved search.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SavedSearch'
      responses:
        '200':
          description: OK - Saved search updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedSearch'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteSavedSearch
      summary: Azure Log Analytics Delete Saved Search
      description: Deletes the specified saved search in a given workspace.
      tags:
      - Saved Searches
      parameters:
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - name: savedSearchId
        in: path
        required: true
        description: The ID of the saved search.
        schema:
          type: string
      responses:
        '200':
          description: OK - Saved search deleted.
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    WorkspaceNameParameter:
      name: workspaceName
      in: path
      required: true
      description: The name of the workspace.
      schema:
        type: string
        minLength: 4
        maxLength: 63
        pattern: ^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription.
      schema:
        type: string
        minLength: 1
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
        default: '2025-02-01'
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group. The name is case insensitive.
      schema:
        type: string
        minLength: 1
        maxLength: 90
  schemas:
    SavedSearchesListResult:
      type: object
      description: The saved search list result.
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/SavedSearch'
    ErrorDetail:
      type: object
      description: Error detail.
      properties:
        code:
          type: string
          description: The error code.
          example: ResourceNotFound
        message:
          type: string
          description: The error message.
          example: The specified resource was not found.
        target:
          type: string
          description: The error target.
        details:
          type: array
          items:
            $ref: '#/components/schemas/ErrorDetail'
        additionalInfo:
          type: array
          items:
            $ref: '#/components/schemas/ErrorAdditionalInfo'
    ErrorResponse:
      type: object
      description: Error response.
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetail'
    SavedSearch:
      type: object
      description: A saved search in a Log Analytics workspace.
      properties:
        id:
          type: string
          description: Fully qualified resource ID.
          readOnly: true
        name:
          type: string
          description: The name of the resource.
          readOnly: true
        type:
          type: string
          description: The type of the resource.
          readOnly: true
        etag:
          type: string
          description: The ETag of the saved search.
        properties:
          $ref: '#/components/schemas/SavedSearchProperties'
    ErrorAdditionalInfo:
      type: object
      description: Error additional info.
      properties:
        type:
          type: string
        info:
          type: object
    SavedSearchProperties:
      type: object
      description: Properties of a saved search.
      required:
      - category
      - displayName
      - query
      properties:
        category:
          type: string
          description: The category of the saved search.
          example: General Exploration
        displayName:
          type: string
          description: Saved search display name.
          example: All Events
        query:
          type: string
          description: The KQL query expression.
          example: Event | sort by TimeGenerated desc
        functionAlias:
          type: string
          description: The function alias if query serves as a function.
        functionParameters:
          type: string
          description: The optional function parameters.
        version:
          type: integer
          format: int64
          description: The version number of the query language.
        tags:
          type: array
          description: The tags attached to the saved search.
          items:
            type: object
            properties:
              name:
                type: string
              value:
                type: string
  securitySchemes:
    oauth2:
      type: oauth2
      description: Azure Active Directory OAuth2 implicit flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: Impersonate your user account
